$orange: #ff8049;
$white: #fdfdfd;
$light-black: #202020;
$black: #181818;

$font-face-primary: "Roboto", sans-serif;
$font-face-secondary: "Shadows Into Light", cursive;

$font-size-primary: 16px;
$font-weight-regular: 400;
$line-height-primary: 1.5;
